@media only screen and (min-width: 23.5em){
    main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
      }
      #highlighttext,#highlighttext-2,#highlighttext-3 {
        
          background-color: rgb(226, 154, 72);
          text-align: center;
          margin-top: 0em;
          padding: 0.5em;
          border-radius: 25px;
        }
        #minibox, #minibox-2, #minibox-3 {
          padding: .5rem;
          font-size: 1rem;
          text-align: center;
          background-color:rgb(243, 221, 179);
          border-radius: 25px;
          
      }
      header, footer {
          background-color: rgb(247, 131, 37);
          max-width: none; 
          margin: auto;
          padding: 1rem;
          text-align: center;
          
          }
          container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 1.5rem;
        margin-top: 0em;
        text-align: center;
        padding: 0.75rem;
        grid-gap: 10px 10px;
        font-family: 'Libre Caslon Text', serif;
    
    }
          
  }
