
body{
    text-align: center;
    background-color: #f58b8b;
}
main{
    margin: 10px;
    background-color: #f58b8b;
    box-shadow: 0 0 20px black;
}
h1{
  font-family: Times,Cochin, Georgia;
  color: black;
  font-size: 3em;
} 
h2 {
    font-family: Times, 'Times New Roman', serif;
    color: #3f3f8d;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
img{
    width: 85%;
    box-shadow: 0 0 15px black;
    border-radius:25px;
}
P {
    margin-top: -10PX;
    color: black;
    font-family: arial;
}
section{
    margin: 2px;
    padding-bottom: 10px;
    border: 3px darkslateblue solid;
    background-color: #b9b9cc;
}
header{
    font-family: Times, serif;
    font-size: 15px;
    padding: 15px;
    background-color: rgb(245, 77, 77);
}
footer{
    font-family: Times, serif;
    font-size: 25px;
    padding: 25px;
    background-color: rgb(245, 77, 77);
}
