
body,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 1em;
}

header {
    background-color: #103cb6;
    width: 100%;

    
   
}

#logo {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#centro1{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

main {
    background-color: rgb(191, 197, 250);
}

body {
    background-color: rgb(229, 226, 243);
    padding-top: 0;
    padding-bottom: 0;
}


section{
    background-color: #F4A261;
    max-width: 860px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 1em;
}
#numero2{
    background-color:rgb(122, 208, 211);
    max-width: 860px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 1em;
    display:block;
}
#numero3{
    background-color: rgb(236, 143, 182);
    max-width: 860px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 1em;
    
}



h1 {
    font-family: 'Bangers', cursive;
    font-size: 1em;
    padding: 1.5em;
    text-align: center;
    margin: 0;
    background-color: #103cb6;
    color: rgb(243, 247, 26);
    
}

h2,
h3,
h4,
h5 {
    font-family: 'Gelasio', serif;
    color: rgb(243, 247, 26);
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.7rem;
}

a {
    color: #264653;
}

a:hover {
    color: #F4A261;
}

nav {
    background-color: rgb(5, 5, 8);
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #d6dfe2;
    text-align: center;
    padding: 0.95rem;
    text-decoration: none;
    font-size: 0.95rem;
    font-family: 'Raleway', sans-serif;
}

nav a:hover {
    background-color:rgb(73, 104, 240); 
    color: #040a0c;
}

img {
    max-width: 100%;
}

footer {
    background-color: #07080c;
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 50px;
    
    
}

footer a {
    color: white;
}
footer p a{
    color: ghostwhite;
    text-decoration: underline;
}
footer p a:hover{
    text-decoration: underline;
}
footer p a:active{
    text-decoration: underline;
}
footer p a:link{
    text-decoration: underline;
}
footer p a:visited{
    text-decoration: underline;
}
