body{
    font-size: 18px;
    line-height: 1.5;
    background-color: cornsilk;
    margin: 1.25rem auto;
    max-width: 860px;
    margin: 0 auto;
    
}
div { 
    background-color: cornsilk;
}
header,main,section,footer{
    margin: 1.25rem auto;
    max-width: 860px;
    
}
section{
 padding-left: 10px;
}
header, footer{
    background-color: #f18f7a;
    color:#3D1C15;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1.5rem;
    border-radius: 20px;
}
header, img{
    float: right;
    margin: 5px;
    border-radius: 10px;
    height: auto;
}

footer{
    
    background-color:#F18F7A ;
    color: #3D1C15;
    text-align: center;
    padding: 1.5rem;
}
h1, h2, h3, h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}